<h3>Cart <button type="button" (click)="clearCart()">Clear</button></h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Nom </label>
    <input id="name" type="text" formControlName="name" />
    <p style="color:red">{{ erreur }}</p>
  </div>
  <div>
    <label for="address"> Address </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">
    Acheter pour {{ checkoutForm.value.name }}
  </button>
</form>

<button [routerLink]="['/test']">retour</button>
<p></p>
